.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    /* background-color: #333; */
    border-radius: 21px;
    transform: rotate(5deg);
}

.product-device-2 {
    top: 5%;
    right: auto;
    bottom: 0;
    left: 5%;
    /* background-color: #e5e5e5; */
    transform: rotate(-5deg);
}

.small-image{
    width: 20rem;
}