<div class="container py-4 my-2">
    <h1>About me</h1>
    <p>My name is roy, i'm a mechanical engineer from israel currently studying a post degree major in computer science.</p>
    <h3>social network profiles</h3>
    <ul class="list-group list-group-flush pb-5">
        <li class="list-group-item"><a href="https://www.printables.com/@RoyDaniel_1190868" target="_blank">Printables</a></li>
        <li class="list-group-item"><a href="https://www.crealitycloud.com/user/8015770784" target="_blank">Creality Cloud</a></li>
    </ul>
</div>